<div class="container">
  <div class="row">
    <h1><u>Employee List</u>:</h1>
  </div>
  <div *ngFor="let e of emps" class="row">
    <div class="col">
      {{ e.id }}
    </div>
    <div class="col">
      {{ e.name }}
    </div>
    <div class="col">
      {{ e.age }}
    </div>
    <div class="col">
      <button (click)="passDetails(e)">GetDetails</button>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
      </tr>
      <tr *ngFor="let e of emps">
        <td>{{ e.id }}</td>
        <td>{{ e.name }}</td>
        <td>{{ e.age }}</td>
        <td><button (click)="passDetails(e)">GetDetails</button></td>
      </tr>
    </table>
  </div>
</div>

<app-employeedetail [ep]="employee"></app-employeedetail>
