<app-employees></app-employees>

<!-- <div class="container">
  <div class="row">
    <label>Display Data from Child:</label>
    <div>
      <ul *ngFor="let n of numcontents">
        <li>{{ n }}</li>
      </ul>
    </div>
    <br />
  </div>
  <div class="row">
    <button (click)="passbyclick()" class="btn btn-primary">
      Pass Value to child
    </button>
  </div>
  <div class="row">
    <app-test [gd]="testval"></app-test>
  </div>
  <div class="row">
    <button (click)="checkvalfromchild()" class="btn btn-primary">
      check Value from child
    </button>
  </div>
  <hello></hello>
  <div class="row">
    <p *ngIf="ispassed; else t" class="text-info">
      Data passing from parent to child.......
    </p>
    <ng-template #t>
      <p class="text-warning">Data not yet passed to child</p>
    </ng-template>
  </div>
</div> -->
