<!-- <p *ngIf="isset; else ab">Value passed successfully!!</p>
<ng-template #ab>Value not passed successfully!!</ng-template> -->
<div class="container">
  <div class="row">
    <p>Getting value from Parent:</p>
    <p class="text-success">{{ val }}</p>
  </div>
  <div class="row">
    <button (click)="oncheck()" class="btn btn-primary">
      check value from parent
    </button>
  </div>
  <div class="row">
    <p class="text-info">Data passing from child to parent.......</p>
    <br />
    <button (click)="passtoparent()" class="btn btn-primary">
      pass value to parent
    </button>
  </div>
</div>
