<!-- <p *ngIf="isset; else ab">Value passed successfully!!</p>
<ng-template #ab>Value not passed successfully!!</ng-template> -->
<div class="container">
  <!-- <div>{{ num | addcurrency: 2 }}</div> -->
  <p>{{ myclasses | json }}</p>
  <div [ngSwitch]="color" class="row">
    <div *ngSwitchCase="'red'" class="row">This is red</div>
    <div *ngSwitchCase="'blue'" class="row">This is blue</div>
    <div *ngSwitchCase="'green'" class="row">This is green</div>
  </div>

  <div class="row">
    <p>Getting value from Parent:</p>
    <p class="text-success">{{ val }}</p>
  </div>
  <div class="row">
    <button (click)="oncheck()" class="btn btn-primary">
      check value from parent
    </button>
  </div>
  <div class="row">
    <p class="text-info">Data passing from child to parent.......</p>
    <br />
    <button (click)="passtoparent()" class="btn btn-primary">
      pass value to parent
    </button>
  </div>
</div>
